<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
      <div class="container">
        <nav>
          <h4 class="logo">Global Flavors</h4>
          <ul>
            <!-- <li>
              <a href="/"><img id="icon1" src="/images/R.png" alt="" /></a>
            </li>
            <li>
              <a href="drinks">
                <img
                  id="icon2"
                  src="/images/My_project-removebg-preview.png"
                  alt=""
              /></a>
            </li>

            <li>
              <a href="#"
                ><img
                  src="/images/building__hostel__hotel__office__block_-256.webp"
                  alt=""
              /></a>
            </li> -->

            <li>
              <a href="/profile"
                ><img
                  src="/images/Screenshot_2023-04-03_185013-removebg-preview.png"
                  alt=""
              /></a>
            </li>
          </ul>
        </nav>
        <div class="circle">
          <div class="circle-bor"></div>
          <% categoris.forEach(function(categorie,index) { %>
            <div class="strib strib<%= index +1 %>">
              <div class="img-con">
                <img src="/images/categorieImages/<%= categorie.Catimage %>" alt=""/>
              </div>
            </div>
          <% }); %>
          <!-- <div class="strib strib1">
            <div class="img-con">
              <img
                src="/images/download (5)-PhotoRoom.png-PhotoRoom.png"
                alt=""
              />
            </div>
          </div>
          <div class="strib strib2">
            <div class="img-con">
              <img
                src="/images/Shoyu_Ramen_with_Chashu-removebg-preview.png"
                alt=""
              />
            </div>
          </div>
          <div class="strib strib3">
            <div class="img-con">
              <img src="/images/My project (1).png" alt="" />
            </div>
          </div>
          <div class="strib strib4">
            <div class="img-con">
              <img
                src="/images/IMG_20230316_173947-removebg-preview.png"
                alt=""
              />
            </div>
          </div>
          <div class="strib strib5">
            <div class="img-con">
              <img
                src="/images/IMG_20230316_173947-removebg-preview.png"
                alt=""
              />
            </div>
          </div> -->
        </div>
        <div class="rev-rat">
          <div class="ratings">
            <H3>Overview</H3>
            <div class="rate">
              <h6>4.8</h6>
              <p>*</p>
            </div>
            <h5>Indian</h5>
            <p>
              Indian cuisine is renowned for its diverse flavors, aromatic
              spices, vegetarian options, curries, street food, and desserts.
              <br />
            </p>
            <ul>
              <li>Spices</li>
              <li>Vegetarianism</li>
              <li>Curries</li>
            </ul>
          </div>
        </div>
        <div class="rav-rat-bg">
          <div class="bg-circle"></div>
        </div>
        <div class="headline">
          <% categoris.forEach(function(categorie,index) { %>
            <div class="elem-h"  id="pro-<%=index %>">
              <h6># <%=index +1 %> Categorie</h6>
              <h5><%= categorie.name %></h5>
              <h4><%= categorie.tagline %></h4>
            </div>
          <% }); %>
          <!-- <div class="elem-h" id="pro-1">
            <h6># 1 colore</h6>
            <h5>Briter Red</h5>
            <h4>solandp</h4>
            <button>Explore</button>
          </div>
          <div class="elem-h" id="pro-2">
            <h6># 2 colore</h6>
            <h5>Briter Red</h5>
            <h4>solandp</h4>
            <button>Explore</button>
          </div>
          <div class="elem-h" id="pro-3">
            <h6># 3 colore</h6>
            <h5>Briter Red</h5>
            <h4>solandp</h4>
          </div>
          <div class="elem-h" id="pro-4">
            <h6># 4 colore</h6>
            <h5>Briter Red</h5>
            <h4>solandp</h4>
            <button>Explore</button>
          </div>
          <div class="elem-h" id="pro-4">
            <h6># 5 colore</h6>
            <h5>Briter Red</h5>
            <h4>solandp</h4>
            <button>Explore</button>
          </div> -->
        </div>
        <div class="products-cat">
          <% categoris.forEach(function(categorie,index) { %>
            <div onclick="redirectToProduct('<%= categorie.name %>')" class="categari" id="car-<%=index%>">
              <div class="image-con">
                <img src="/images/categorieImages/<%= categorie.Catimage %>" alt=""/>
              </div>
              <p><%= categorie.name %></p>
            </div>
          <% }); %>
          <!-- <div class="categari" id="cat-1">
            <div class="image-con">
              <img
                src="/images/download (5)-PhotoRoom.png-PhotoRoom.png"
                alt=""
              />
            </div>
            <p>Indian</p>
          </div>
          <div class="categari" id="cat-2">
            <div class="image-con">
              <img
                src="/images/Shoyu_Ramen_with_Chashu-removebg-preview.png"
                alt=""
              />
            </div>
            <p>Jepanes</p>
          </div>
          <div class="categari" id="cat-3">
            <div class="image-con">
              <img src="/images/My project (1).png" alt="" />
            </div>
            <p>Italian</p>
          </div>
          <div class="categari" id="cat-3">
            <div class="image-con">
              <img
                src="/images/IMG_20230316_173947-removebg-preview.png"
                alt=""
              />
            </div>
            <p>Chines</p>
          </div>
          <div class="categari" id="cat-3">
            <div class="image-con">
              <img
                src="/images/c086fe8397e9cdefcc3c7b24f3574e6e-removebg-preview (1).png"
                alt=""
              />
            </div>
            <p>Mexican</p>
          </div>
        </div> -->
        <!-- <ul>
          <% categoris.forEach(function(categorie,index) { %>
            <li class="cat<%=index %>" ><%= categorie.name %> <%=index %> </li>
          <% }); %>
        </ul> -->
        <!-- <div class="icons">
                <div class="icon">
                    <ul>
                        <li><a href="#"><img id="icon1" src="images/R.png" alt=""></a></li>

                        <li><a href="#"> <img id="icon2" src="images/istockphoto-1142652187-170667a-removebg-preview (1).png" alt=""></a></li>

                        <li><a href="#"> </a></li>

                        <li><a href="#"><i class="ri-user-3-line"></i></a></li>

                        <li><a href="#"> <i class="ri-chat-3-line"></i></a></li>
                    </ul>
                </div>
            </div> -->
      </div>
    </div>

    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
      integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      var categari = document.querySelectorAll(".categari");
      var signbtn = document.querySelector(".signinbtn");
      var firstpic = document.querySelector(".strib1");
      var lastpic = document.querySelector(".strib5");

      var active = 1;

      var elemh = document.querySelectorAll(".elem-h");
      gsap.to(elemh[active - 1], {
        opacity: 1,
        left: 0,
      });

      categari.forEach(function (val, index) {
        val.addEventListener("mouseenter", async function () {
            isAnimationDone = false
            if(index==4){
              firstpic.style.opacity = "0";
              lastpic.style.opacity = "1"
            }
            if(index==0){
              firstpic.style.opacity = "1";
              lastpic.style.opacity = "0"
            }
            gsap.to(".circle", {
              rotate: index * 90,
            });
            gsap.to(".bg-circle", {
              rotate: 180,
            });
            grayout();
            elemh[index].style.transition =
              "all 1s cubic-bezier(0.23, 1, 0.320, 1)";
            elemh[index].style.opacity = 1;
            elemh[index].style.left = 0 + "px";
            setTimeout(() => {
              elemh[index].style.transition = "none";
            }, 400);
          // gsap.to(elemh[index], {
          //     opacity:1,
          //     left:0
          // })
        });
      });

      function grayout() {
        document.querySelectorAll(".elem-h").forEach((ele) => {
          ele.style.opacity = 0;
          ele.style.left = "100px";
        });
      }

      function redirectToProduct(Name) {
        console.log(Name)
        window.location.href = '/products/'+ Name ;
      }
    </script>
  </body>
</html>
